{% extends 'base.html' %}
{% block title%} Home{% endblock title%}
{% block bodyone %}
<div class = "container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
        <div class="card">
            <img src="\static\img\Pythonforweb.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">We providing traning on python Web Development</p>
              <a href="#" class="btn btn-primary">Details..</a>
            </div>
          </div>
        </div>  
        <div class="col">
          <div class="card">
            <img src="\static\img\manual.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Manual Testing</h5>
              <p class="card-text">We providing traning on Manual Testing</p>
              <a href="#" class="btn btn-primary">Details..</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="\static\img\SF.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Salesforces Administration</h5>
              <p class="card-text">We providing traning on Salesforces Administration</p>
              <a href="#" class="btn btn-primary">Details..</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="\static\img\Python Automation.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Automation Testing</h5>
              <p class="card-text">We providing traning on Automation Testing</p>
              <a href="#" class="btn btn-primary">Details..</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock bodyone %}