{% extends 'base.html' %}
{% block title%} Home{% endblock title%}
{% block bodyone %}
<h1>Manual software testing</h1>
<p>
<p>Manual software testing is the process of verifying that a software application or system meets its intended functionality and requirements. In this type of testing, a human tester manually executes test cases without the use of automated tools or scripts.</p>

<p>Manual software testing involves several steps, including:</p>

<p>1. Test planning: The testers create a plan that outlines the scope of testing, testing objectives, and test cases to be executed.</p>

<p>2. Test case development: Testers create test cases based on the software requirements and specifications. The test cases may be functional, performance, usability, or security-based.</p>

<p>3. Test execution: Testers execute the test cases manually, following the steps outlined in the test plan.</p>

<p>4. Defect reporting: If a test case fails, testers report the defect and provide detailed information about the issue to the development team.</p>

<p>5. Retesting: Once the defect is fixed, testers rerun the failed test case to ensure that the fix has resolved the issue.</p>

<p>Manual testing can be time-consuming and prone to human error. However, it is still an important part of the software development process as it allows testers to identify issues that may not be detected by automated testing tools. Additionally, manual testing can provide valuable feedback to developers and stakeholders about the user experience of the software.</p>

</p>
{% endblock bodyone %}